@model List<Question>
@{
    ViewData["Title"] = "Index";
}

<h1>FA Survey</h1>

@*<p>@Model.Content</p>*@

@*foreach loop .net core 2.2 razor*@


<form method="post">
    @foreach (var question in Model)
    {
        <br />
        <h4>Question: @question.Content</h4>
        
        @foreach (Enum thingy in Lookups.Frequency.GetValues(typeof(Lookups.Frequency)))
        {
            <input type="radio" value="@thingy"> @Lookups.GetDescription(thingy)
            <br />
        }

    }

    <br />
        <input type="submit" value="Submit" />
        <br />
        <br />
</form>