@model FAsurveyintoMVC.Controllers.SurveyController.TestViewModel
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<form asp-action="Test">

    @for (int i = 0; i < Model.Persons.Count; i++)
    {
        <input type="hidden" asp-for="@Model.Persons[i].Name" />
        <input type="hidden" asp-for="@Model.Persons[i].Age" />
        <p>@Model.Persons[i].Name - @Model.Persons[i].Age - </p>

    }


    <br />
    <input type="submit" value="Submit" />
    <br />
    <br />
</form>