@using FAQuizMVC.ViewModels
@model TestViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an interpretation of the Yale Food Addiction Survey, as decribed here: <a href="https://en.wikipedia.org/wiki/Yale_Food_Addiction_Scale">https://en.wikipedia.org/wiki/Yale_Food_Addiction_Scale</a>.</p>
    <strong>This implementation of the survey has NOT been evaluated by a medical professional and is NOT intended as any sort of official medical diagnosis or advice for anyone. Ever.</strong>
</div>


<form asp-action="Index">
 
</form>