@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Privacy Information"]</h1>

<p>This site does not store your personal information or score. There are no cookies involved with anything to do with the survey.</p>
